@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis para o modo claro */
:root {
    --background: #f5deb3; /* Cor trigo (wheat) clara */
    --foreground: #333333; /* Cor do texto em um tom escuro suave */
    --navbar-background: #ededed; /* Cor de fundo da navbar em tom de trigo suave */
    --navbar-text: #121212; /* Cor do texto da navbar em tom marrom suave */
    --title-text: #121212; /* Cor do título no modo claro */
  }
  
  /* Variáveis para o modo escuro */
  body.dark {
    --background: #0a0a0aa6;
    --foreground: #f5f5f5; /* Ajustado para um tom claro de texto no modo escuro */
    --navbar-background: #1a1a1a; /* Cor de fundo da navbar no modo escuro */
    --navbar-text: #f5f5f5; /* Cor do texto da navbar no modo escuro */
    --title-text: #f5f5f5; /* Cor do título no modo escuro */
  }
/* Estilo base do body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos da Navbar */
.navbar {
  background-color: var(--navbar-background);
  color: var(--navbar-text);
}

/* Links da Navbar */
.navbar .menu-link {
  color: var(--navbar-text);
  text-decoration: none;
}

.navbar .menu-link:hover {
  color: #ffd700; /* Cor dourada ao passar o mouse */
}

/* Botão de alternância de tema */
.button-toggle-theme {
  color: var(--navbar-text);
  background-color: var(--navbar-background);
  border: 1px solid var(--navbar-text);
  transition: background-color 0.3s, color 0.3s;
}

.button-toggle-theme:hover {
  background-color: var(--navbar-text);
  color: var(--navbar-background);
}
/* Transição suave para mudança de tema */
body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* Para aplicar o modo escuro */
body.dark {
  background-color: #0a0a0aa6; /* Cor de fundo escura */
  color: #ededed; /* Cor do texto clara */
}